@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Subchapter headers */
header{
	font-variant: small-caps;
	/* top | right | bottom | left */
	margin: 3em 1em 1.5em 1em;
	text-align: center;
	page-break-after: avoid;
}

[epub|type~="z3998:subchapter"] > header + *{
	margin-top: 0;
}
/* End subchapter headers */

/* Poems etc. */
[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p,
[epub|type~="z3998:hymn"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:hymn"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br,
[epub|type~="z3998:hymn"] p > span + br,
[epub|type~="z3998:song"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p,
[epub|type~="z3998:verse"] p + p,
[epub|type~="z3998:hymn"] p + p,
[epub|type~="z3998:song"] p + p{
     margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}
/* End poems etc. */

/* Letters */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
/* End letters */

/* Engravings */
[id~="chapter-5-3"] blockquote p,
[id~="chapter-21-10"] blockquote p{
	text-align: center;
	text-indent: 0;
}
/* End engravings */
